repos:
  - repo: local
    hooks:
      - id: black
        name: black
        entry: black
        language: system
        types: [python]
        args: [--line-length=120]
        exclude: ^migrations/

      - id: isort
        name: isort
        entry: isort
        language: system
        types: [python]
        args: [--profile=black, --line-length=120]
        exclude: ^migrations/

      - id: flake8
        name: flake8
        entry: flake8
        language: system
        types: [python]
        exclude: ^migrations/
